/.vs
Ax.Fw.Tests/bin
Ax.Fw.Tests/obj
Ax.Fw.Windows.GUI/bin
Ax.Fw.Windows.GUI/obj
Ax.Fw.Windows/bin
Ax.Fw.Windows/obj
/Ax.Fw/_nuget-push.bat
Ax.Fw/bin
Ax.Fw/obj
Ax.Fw.TcpBus.Tests/bin
Ax.Fw.TcpBus.Tests/obj
Ax.Fw.TcpBus/bin
Ax.Fw.TcpBus/obj
/Ax.Fw.Interfaces/obj
/Ax.Fw.Interfaces/bin
/Ax.Fw.XUnit/bin
/Ax.Fw.XUnit/obj
/Ax.Fw.MetroFramework/obj
/Ax.Fw.MetroFramework/bin
/Ax.Fw.MetroFramework.Sandbox/obj
/Ax.Fw.MetroFramework.Sandbox/bin
/Ax.Fw.PipeBus.Tests/bin
/Ax.Fw.PipeBus.Tests/obj
/Ax.Fw.PipeBus/bin
/Ax.Fw.PipeBus/obj
/Ax.Fw.Storage/bin
/Ax.Fw.Storage/obj
/Ax.Fw.Storage.Tests/bin
/Ax.Fw.Storage.Tests/obj